# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
project/project/
project/target/
src/main/java/
src/main/scala-2.11/
src/test/
target/
authors.txt
factorial2.txt
factorials.txt
hashtags.txt
